<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
    <link
        href="https://fonts.googleapis.com/css?family=Acme|Amatic+SC|Arvo|Concert+One|Courgette|Dancing+Script|Fjalla+One|Pathway+Gothic+One|Permanent+Marker|Shadows+Into+Light&display=swap"
        rel="stylesheet" />
    <!-- Compiled and minified CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link rel="stylesheet" href="assets/css/style.css" media="screen" title="no title" />

    <!-- Compiled and minified JavaScript -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

<div class="Welcome">
        <div class = "text">
            <b>Welcome to DevR'Us!</b>
        </div>
    </div>
    <div class="Mission">
            Our mission at DevR'Us is to help both freelancers and employers connect for employment and collaborative projects. 
            Our app is a friendly atmosphere, that is welcoming to new and current members to build valuable professional friendships and networks. 
            Professionalism that values diversity in opinions, perspectives and experience leading to respectful, candid debate and ideas exchange.
    </div>

    {{{body}}}
</body>

</html>