

<h1 class="event-header">Create Your Event!</h1>

<div class="row wrap">

    

    <div class="event col-md-6">

        <h2>{{name}}</h2>
        

        <form action="/devrus/models/networking" method="post" class="column">

            <input type="text" name="name" placeholder="Event Name">

            <input type="text" name="type" placeholder="Type of Event">
            <br>
            <button class="waves-effect waves-light btn">Add Event</button>

        </form>

    </div>

    <div class="col s12 m6">
      <div class="card blue-grey darken-1" id = "networkList">
        <div class="card-content white-text">
          <u><span class="card-title">Network Listings</span></u>
         
         {{#each networking}}

    <div clas="networking col-md-6">
        <h5>{{name}}</h5>

        <p>{{type}}</p>

    </div>

    {{else}}

    <b><p class="empty">No upcoming networking events</p></b>

    {{/each}}

        </div>
      </div>
    </div>
</div>

    
   


