*{
    margin: 9px;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 10px 5%;
    background-image: url("https://miro.medium.com/max/1838/1*NaUmBti42n0FMMffyjTtBg.jpeg");
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.row .column{
    display:flex;
}

.column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}

.header{
    margin-bottom: 10px;
}

.event-form{
    width: 350px;
    margin-bottom:25px;
}

.event-header{
    margin-bottom:10px;
    margin-left: 5%;
    margin-right: 25%;
    width: 530px;
    background: rgba(61, 60, 60, 0.5);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
}
.event-form input, .event-form button{
    margin-bottom:5px;
    padding: 6px;
}

.event{
    margin: 0 auto;
    margin-right: 5%;
    margin-left: 5%;
    background: rgba(61, 60, 60, 0.5);
    height: 250px;
    
}
.event > *{
    font-weight: 300;
}
.event h2{
    text-align:center;
    font-weight:300;
    margin-bottom: 5px
}
.event form input, .event form button{
    padding: 4px;
    margin-bottom: 2px;
}
.event h3{
    text-align:center;
    margin: 3px 0 5px;
    border-bottom: 1px solid #707070;
    padding-bottom:3px;
}
.event p.empty{
    max-width: 120px;
    text-align:center;
    margin:0 auto;
    padding-top: 10px;
}
.event .networking{
    padding: 3px;
    background: #444;
    text-align:center;
    margin-bottom: 4px;
}
.event .networking h4{
    font-weight: 400;
    font-size:.95rem;
    margin-bottom: 3px;
}
.event .netowrking p{
    font-size: .8rem;
}
.row .card-title{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.Welcome{
    color: white; 
    text-align: center; 
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    background: rgba(61, 60, 60, 0.5);
    width: 400px; 
    margin-left: 330px;
    margin-right: 330px;
}
.Mission{ 
    color: white; 
    text-align: center; 
    background: rgba(61, 60, 60, 0.5);
    font-family: 'Courier New', Courier, monospace;
}
button{
    width: 100px;
}
#networkList{
    background: rgba(61, 60, 60, 0.5) !important; 
    
}
input{
    color: white; 
}
.card .card-content {
    margin-top: 0px;
    padding-top: 0px;
    border-radius: 0 0 2px 2px; 
}